/* pseudoselectores */
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}
    
html{
    font-size: 62.5%
}

body{
    font-size: 16px; /*1rem = 10px*/
}

/* titulo principal */
.titulo{
    text-align: center;
    font-size: 3.8rem;  
    color: var(--primario);
}
   

.titulo span{
    font-size: 2rem;
}